mat-toolbar {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  & > mat-card {
    flex: 1;
  }
}

mat-card-content {
  height: calc(100vh - 396px);
  overflow-y: scroll;
}
.todo-container {
  cursor: move;
  margin-top: 1rem;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
}
.cdk-drag-preview {
  overflow: hidden;
  background: var(--mat-sys-surface);
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
mat-card-content.cdk-drop-list-dragging
  .todo-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
