<mat-card
  appearance="outlined"
  style="max-width: max-content; margin: 2rem auto"
>
  <mat-card-header>
    <mat-card-title align="center"><b>{{ appName }}</b></mat-card-title>
    <mat-card-subtitle
      >Connectez-vous et gérer vos projets en un clic
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider />

  <mat-card-content>
    <main style="padding: 1rem 0">
      <button mat-flat-button (click)="loginWithGoogle()" style="width: 100%">
        Connectez avec Google
      </button>

      <div class="divider">
        <mat-divider />
        <span> ou avec </span>
        <mat-divider />
      </div>

      <form align="end" #emailForm="ngForm">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input
            matInput
            ngModel
            #email="ngModel"
            type="email"
            id="email"
            name="email"
            required
            email
            placeholder="Ex: example@company.org"
          />

          @if (!email.errors?.['required'] && email.errors?.['email']) {
          <mat-error> Email invalide </mat-error>
          } @if (email.errors?.['required']) {
          <mat-error> Email obligatoire </mat-error>
          }
        </mat-form-field>

        <button
          class="email-auth-btn"
          mat-stroked-button
          type="submit"
          [disabled]="emailForm.invalid"
        >
          Continuer
        </button>
      </form>
    </main>
  </mat-card-content>
  <mat-divider />
  <mat-card-footer align="center" style="padding: 1rem 0">
    {{ appName }}©{{ date.getFullYear() }}, propulsé
    <a href="https://drcmind.com" target="_blank">{{ companyName }}</a>
  </mat-card-footer>
</mat-card>
